body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    color: #82a5ca;
}

h1 {
    color: #82a5ca;
    font-weight: 800;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/galaxy.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    padding: 10px 0 40px 0;
    text-shadow: 2px 2px 2px white;
}

.btn {
    background-color: white;
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 800;
    padding: 6px 12px;
    color: #82a5ca;
}

.underline {
    border-bottom: 4px solid #82a5ca;
}

#main-logo {
    width: 100px;
}

.tos {
    text-align: center;
}